BOT_TOKEN=8841534013:AAEglEgkC710Sb4DFP1-8A3u5BXMkZClImU
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/proxy_manager
OWNER_IDS=8740135346,6539720810
SALES_LOG_CHAT_ID=-1002523178939

SUPPORT_USERNAME=@revulet
FORCE_JOIN_1=@proxydominates
FORCE_JOIN_2=@noruleclub
FORCE_JOIN_3=@vnumrates
UPI_ID=proxyfxc@pytes
CURRENCY=₹

# Telethon (Number Login)
API_ID=38851767
API_HASH=8732a8b75138b7b8d3a3ede7f1dda10a
